<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92292927743-edsctgnhbu6n1o003v9hf7fu200go8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92292927743-edsctgnhbu6n1o003v9hf7fu200go8j9</string>
	<key>API_KEY</key>
	<string>AIzaSyDqE_zbuVrYu-h-LZhLrVbb5LXLHBHgiwA</string>
	<key>GCM_SENDER_ID</key>
	<string>92292927743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.plantkit.app</string>
	<key>PROJECT_ID</key>
	<string>plantkit-a8f60</string>
	<key>STORAGE_BUCKET</key>
	<string>plantkit-a8f60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92292927743:ios:6e6b2bd5316a06b8783cca</string>
</dict>
</plist>